/* fira-sans-condensed-regular - latin */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/fira-sans-condensed/fira-sans-condensed-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('../../fonts/fira-sans-condensed/fira-sans-condensed-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../../fonts/fira-sans-condensed/fira-sans-condensed-v5-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../../fonts/fira-sans-condensed/fira-sans-condensed-v5-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../../fonts/fira-sans-condensed/fira-sans-condensed-v5-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../../fonts/fira-sans-condensed/fira-sans-condensed-v5-latin-regular.svg#FiraSansCondensed')
      format('svg'); /* Legacy iOS */
}
/* fira-sans-condensed-500 - latin */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/fira-sans-condensed/fira-sans-condensed-v5-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''), url('../../fonts/fira-sans-condensed/fira-sans-condensed-v5-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../../fonts/fira-sans-condensed/fira-sans-condensed-v5-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../../fonts/fira-sans-condensed/fira-sans-condensed-v5-latin-500.woff') format('woff'),
    /* Modern Browsers */ url('../../fonts/fira-sans-condensed/fira-sans-condensed-v5-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../../fonts/fira-sans-condensed/fira-sans-condensed-v5-latin-500.svg#FiraSansCondensed')
      format('svg'); /* Legacy iOS */
}
