/* ------- code fonts & view ------- */

@font-face {
  font-family: 'SourceCodePro';
  src: url('../fonts/source-code-pro/SourceCodePro-Regular.otf.woff2') format('woff2'),
    url('../fonts/source-code-pro/SourceCodePro-Regular.otf.woff') format('woff'),
    url('../fonts/source-code-pro/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceCodePro';
  font-weight: 600;
  src: url('../fonts/source-code-pro/SourceCodePro-Semibold.otf.woff2') format('woff2'),
    url('../fonts/source-code-pro/SourceCodePro-Semibold.otf.woff') format('woff'),
    url('../fonts/source-code-pro/SourceCodePro-Semibold.ttf') format('truetype');
}
