@import url(./_typography.css);
@import url(./_hljs.css);
@import url(./_fira-sans-condensed.css);
@import url(./_fira-sans-extra-condensed.css);
@import url(./_source-code-pro.css);

.reveal {
  font-family: 'SourceCodePro', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #657b83;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.2;
}

.reveal ::selection {
  background-color: #ebb00e;
}

:focus {
  outline: none;
}

/* ------- global styles ------- */

body,
.reveal-viewport {
  background: #39474e;
  background-color: #39474e;
}

html,
body,
.reveal div,
.reveal span,
.reveal applet,
.reveal object,
.reveal iframe,
.reveal p,
.reveal blockquote,
.reveal pre,
.reveal a,
.reveal abbr,
.reveal acronym,
.reveal address,
.reveal big,
.reveal cite,
.reveal code,
.reveal del,
.reveal dfn,
.reveal em,
.reveal img,
.reveal ins,
.reveal kbd,
.reveal q,
.reveal s,
.reveal samp,
.reveal small,
.reveal strike,
.reveal strong,
.reveal sub,
.reveal sup,
.reveal tt,
.reveal var,
.reveal b,
.reveal u,
.reveal center,
.reveal dl,
.reveal dt,
.reveal dd,
.reveal ol,
.reveal ul,
.reveal li,
.reveal fieldset,
.reveal form,
.reveal label,
.reveal legend,
.reveal table,
.reveal caption,
.reveal tbody,
.reveal tfoot,
.reveal thead,
.reveal tr,
.reveal th,
.reveal td,
.reveal article,
.reveal aside,
.reveal canvas,
.reveal details,
.reveal embed,
.reveal figure,
.reveal figcaption,
.reveal footer,
.reveal header,
.reveal hgroup,
.reveal menu,
.reveal nav,
.reveal output,
.reveal ruby,
.reveal section,
.reveal summary,
.reveal time,
.reveal mark,
.reveal audio,
.reveal video {
  font-family: 'SourceCodePro', sans-serif;
}

/* ------- headings ------- */

.reveal h1 {
  font-size: 3.2em;
}

.reveal h2 {
  font-size: 2.2em;
}

.reveal h3 {
  font-size: 1.8em;
}

.reveal h4 {
  font-size: 1em;
}

/* ------- overview (using 'Esc' or 'o' keys) ------- */

.reveal.overview .slides section:hover,
.reveal.overview .slides section.present {
  outline: 20px solid rgba(221, 109, 50, 1);
  outline-offset: 20px;
  border-radius: 6px;
}

/* ------- headings text & color ------- */

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'SourceCodePro', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-transform: none;
  padding-bottom: 40px;
}

.reveal h1 {
  /* color: #80cbcf; */
  color: #34a9af;
}
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  /* color: #80cbcf; */
  /* color: #b7ebef; */
  /* color: #5c929b; */
  /* color: #629ca6; */
  /* color: #41a5aa; */
  color: #34a9af;
}

.reveal {
  /* color: #a0b8c2; */
  color: #a3e0d8;
}

/* ------- links ------- */

.reveal a {
  /* color: #6696ff; */
  color: #45f6fc;
}
.reveal a:hover {
  color: rgb(235, 176, 14);
}

/* ------- list related ------- */

.reveal ul ul {
  list-style-type: disc;
}

.reveal ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.reveal ul li ul li {
  padding-top: 10px;
  padding-bottom: 0px;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  margin-left: 20px;
}

/* ------- quotes ------- */

.reveal blockquote {
  background: rgba(24, 26, 27, 0.12);
  border-radius: 6px;
  width: 80%;
  padding: 8px;
}

/* ------- emphasis ------- */

.reveal strong {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 94%, #ebb00e 50%);
  border-radius: 8px;
  font-weight: normal;
}

/* ------- small ------- */

.reveal small {
  font-size: 0.7em;
}

/* ------- navigation buttons ------- */

.reveal .controls {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.reveal .controls .enabled {
  opacity: 0.4;
  cursor: pointer;
}

.reveal .controls button {
  border: 12px solid transparent;
  transition: all 0.3s ease;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled,
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled,
.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled,
.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  color: #c3d3de;
  font-size: 7px;
}

.reveal .controls .navigate-right.enabled:hover,
.reveal .controls .navigate-left.enabled:hover,
.reveal .controls .navigate-down.enabled:hover,
.reveal .controls .navigate-up.enabled:hover {
  color: #41a5aa;
  opacity: 0.9;
}

.reveal .controls .enabled.fragmented {
  color: #44b5bb;
}

/* ------- logo ------- */

.header {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  opacity: 0.4;
  /*filter: alpha(opacity=70); /* for IE8 and earlier */
}

.header span {
  position: absolute;
  color: #6ab8ac;
  right: 6.2em;
  top: 0.3em;
  font-size: 0.7em;
}

.header .logo {
  height: 12%;
  width: 12%;
  float: right;
  border: none;
  box-shadow: none;
}

/* ------- progress ------- */

.reveal .progress {
  height: 4px;
  border-radius: 0;
  color: #5c929b;
}

.reveal .progress span {
  background: #41a5aa;
  border-radius: 20px;
}
/* ------- table td hover background ------- */

.reveal table td:hover {
  background-color: #4b5d66;
  border-radius: 10px;
}

/* ------- monospaced and code snippets ------- */

.reveal code,
.reveal pre code,
.reveal pre code span {
  font-family: 'SourceCodePro', monospace;
}

.reveal em {
  font-style: normal;
  color: rgb(235, 176, 14);
}

.hljs {
  background: #263238;
  background-color: #263238;
}

/* ------- pause background ------- */

.reveal.paused .pause-overlay {
  background-color: #252e33;
  opacity: 0.95;
}

/* ------- style used when slideNumber:true ------- */

.reveal .slide-number {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 60px;
  color: #61888a;
  font-family: 'Fira Sans Extra Condensed', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  right: 8px;
}

.reveal .slide-number-delimiter {
  margin: 0 0px;
}

/* ------- pause background ------- */

.reveal pre {
  width: 95%;
}
