@import url(./_nunito.css);
@import url(./_lato.css);
@import url(./_typography.css);
@import url(./_hljs.css);
@import url(./_fira-sans-condensed.css);
@import url(./_fira-sans-extra-condensed.css);
@import url(./_source-code-pro.css);

.reveal ::selection {
  background-color: #ebb00e;
}

:focus {
  outline: none;
}

/* ------- global styles ------- */

body,
.reveal-viewport {
  background: #39474e;
  background-color: #39474e;
}

/* ------- overview (using 'Esc' or 'o' keys) ------- */

.reveal.overview .slides section:hover,
.reveal.overview .slides section.present {
  outline: 20px solid rgba(221, 109, 50, 1);
  outline-offset: 20px;
  border-radius: 6px;
}

/* ------- headings text & color ------- */

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Fira Sans Extra Condensed', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-transform: none;
  padding-bottom: 40px;
}

.reveal h1 {
  /* color: #80cbcf; */
  color: #34a9af;
}
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  /* color: #80cbcf; */
  /* color: #b7ebef; */
  /* color: #5c929b; */
  /* color: #629ca6; */
  /* color: #41a5aa; */
  color: #34a9af;
}

.reveal {
  /* color: #a0b8c2; */
  color: #a3e0d8;
}

/* ------- links ------- */

.reveal a {
  /* color: #80cbcf; */
  /* color: #82aaff; */
  /* color: #00cae0; */
  color: #00e5ff;
}

/* ------- list related ------- */

.reveal ul ul {
  list-style-type: disc;
}

.reveal ul li {
  padding-bottom: 28px;
}

.reveal ul li ul li {
  padding-bottom: 0;
}

/* ------- quotes ------- */

.reveal blockquote {
  background: rgba(24, 26, 27, 0.12);
  border-radius: 6px;
  width: 80%;
  padding: 8px;
}

/* ------- emphasis ------- */

.reveal strong {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 94%, #ebb00e 50%);
  border-radius: 8px;
  font-weight: normal;
}

/* ------- navigation buttons ------- */

.reveal .controls {
  height: 100px;
  width: 100px;
}

.reveal .controls .enabled {
  opacity: 0.4;
  cursor: pointer;
}

.reveal .controls button {
  border: 12px solid transparent;
  transition: all 0.3s ease;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled,
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled,
.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled,
.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  color: #c3d3de;
  font-size: 8px;
}

.reveal .controls .navigate-right.enabled:hover,
.reveal .controls .navigate-left.enabled:hover,
.reveal .controls .navigate-down.enabled:hover,
.reveal .controls .navigate-up.enabled:hover {
  color: #41a5aa;
  opacity: 0.9;
}

.reveal .controls .enabled.fragmented {
  color: #44b5bb;
}

/* ------- logo ------- */

.header {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  opacity: 0.7;
  filter: alpha(opacity=70); /* for IE8 and earlier */
}

.header .logo {
  height: 20%;
  width: 20%;
  float: right;
  border: none;
  box-shadow: none;
}

/* ------- progress ------- */

.reveal .progress {
  height: 4px;
  border-radius: 0;
  color: #5c929b;
}

.reveal .progress span {
  background: #41a5aa;
  border-radius: 20px;
}
/* ------- table td hover background ------- */

.reveal table td:hover {
  background-color: #4b5d66;
  border-radius: 10px;
}

/* ------- links ------- */

.reveal a:hover {
  color: #dd6d32;
}

/* ------- monospaced and code snippets ------- */

.reveal code,
.reveal pre code,
.reveal pre code span {
  font-family: 'SourceCodePro', monospace;
}

.reveal em {
  font-style: normal;
  /* color: darkorange; */
  color: rgb(235, 176, 14);
}

.hljs {
  background: #263238;
  background-color: #263238;
}

/* ------- pause background ------- */

.reveal.paused .pause-overlay {
  background-color: #252e33;
  opacity: 0.95;
}

/* ------- style used when slideNumber:true ------- */

.reveal .slide-number {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 60px;
  bottom: 10px;
  color: #34a9af;
  font-family: 'Fira Sans Extra Condensed', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  right: 6px;
}

.reveal .slide-number-delimiter {
  margin: 0 0px;
}

/* ------- pause background ------- */

.reveal pre {
  width: 95%;
}
